# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
**/build
.idea

# debug
**/sui.log.*
satoshi_flip/Move.lock

# coverage files
.coverage_map.mvcov
.trace
package_summaries