# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea

# production
**/build
.env
.env.production

# debug
**/sui.log.*
satoshi_flip/Move.lock

# coverage files
.coverage_map.mvcov
.trace
package_summaries

