#root {
    background: linear-gradient(to bottom, #242f3e, #10161e);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#root::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(154, 154, 154) 1px, transparent 1px);
    background-size: 100px 100px;
    pointer-events: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
